@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: oklch(0.145 0 0);
  --brand-blue: #174f2a;
  --accent: #eef5e8;
  --primary-hover: #0f3b1f;
  --stroke-light: #0000001a;
  --destructive: #d4183d;
  --input-background: #f6f8f2;
  --muted-foreground: #697368;
  --accent-foreground: #102618;
  --muted: #edf2e8;
  --silal-leaf: #75a843;
  --silal-gold: #c79a2b;
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-accent: var(--accent);
  --color-primary-hover: var(--primary-hover);
  --color-stroke-light: var(--stroke-light);
  --color-destructive: var(--destructive);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-input-background: var(--input-background);
  --color-accent-foreground: var(--accent-foreground);
  --color-silal-leaf: var(--silal-leaf);
  --color-silal-gold: var(--silal-gold);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --foreground: oklch(0.145 0 0);
    }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}
